[submodule "MassSpringSystem/vendor/delaunator-cpp"]
	path = MassSpringSystem/vendor/delaunator-cpp
	url = https://github.com/delfrrr/delaunator-cpp
[submodule "MassSpringSystem/vendor/eigen"]
	path = MassSpringSystem/vendor/eigen
	url = https://gitlab.com/libeigen/eigen
