[submodule "MassSpringSystem/vendor/delaunator-cpp"]
	path = MassSpringSystem/vendor/delaunator-cpp
	url = https://github.com/delfrrr/delaunator-cpp
[submodule "MassSpringSystem/vendor/glm"]
	path = MassSpringSystem/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "MassSpringSystem/vendor/GLFW"]
	path = MassSpringSystem/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "MassSpringSystem/vendor/freetype"]
	path = MassSpringSystem/vendor/freetype
	url = https://github.com/freetype/freetype
[submodule "MassSpringSystem/vendor/glad"]
	path = MassSpringSystem/vendor/glad
	url = https://github.com/Dav1dde/glad
